* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #292625;
}

header {
    height: 100px;
    width: 100%;
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    a {
        font-size: 30px;
        color: #d3d1d1;
        cursor: pointer;
        transition: 0.5s;
    }

    a:hover {
        color: #c5b8b8;
        transform: scale(1.1);
    }

    .headerActions {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        .dateActions,
        .searchAction {
            color: #d3d1d1;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
        }

        .searchAction {
            border-right: 2px solid #9a969633;
            padding-right: 10px;
        }

        .dateActions:hover,
        .searchAction:hover {
            color: #d3d1d187;
            transform: scale(1.1);
        }

        img {
            width: 30px;
            height: 30px;
            border: 3px solid #d3d1d1;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
        }

        img:hover {
            border: 4px solid #c5b8b8;
            transform: scale(1.1);
        }
    }
}


/* Aside Navigation  */

.asideNavigation {
    height: 70vh;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.asideNavigation ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.asideNavigation ul li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.asideNavigation ul li img {
    width: 28px;
    height: 28px;
}

.asideNavigation ul .action {
    background-color: #4169E114;
}

.asideNavigation ul li:hover {
    background-color: #4169E114;
    color: #7B20E2;
}