* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #292625;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 80px;
    padding-inline: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-size: 30px;
        color: #d3d1d1;
        cursor: pointer;
        transition: 0.5s;
    }
    a:hover{
        color: #c5b8b8;
        transform: scale(1.1);
    }

    .headerActions {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        .dateActions,
        .searchAction {
            color: #d3d1d1;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
        }

        .searchAction {
            border-right: 2px solid #9a969633;
            padding-right: 10px;
        }

        .dateActions:hover,
        .searchAction:hover {
            color: #d3d1d187;
            transform: scale(1.1);
        }

        img {
            width: 30px;
            height: 30px;
            border: 3px solid #d3d1d1;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
        }

        img:hover {
            border: 4px solid #c5b8b8;
            transform: scale(1.1);
        }
    }
}